// Colores Base
$primary: #D80F16;
$icons: white;
$red: #c0392b;

// Config sidebar
$widthside: 100%;
$paddingside: 10px;
$bgcolorside: rgb(52, 52, 52);
$hovercolor: rgb(23, 23, 23);
$width-collapse-side: 50px;